/* I always reset all the html elements */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
}

.imagesize{
	width : 100px;
	height: 25px;
}

table{
	max-width: 95%;
}